doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing 433434343
      else
        p Get 1111 it!44444 1111111111 3343ddd qwqwqw sasewaaaaewewewedsd
      p.sdsd
        Pug is a terse and simple templating language with# a
        |strong focus on performance and powerful features.