doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing 555555
      else
        p Get on4343434 it!44444 1111111111 3343ddd qwqwqw sdsd
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.